Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.history/Source/.DS_Store
.history/Source/HorrorGame/HorrorCharacter_LS_20211013231306 2.cpp
.history/Source/HorrorGame/HorrorCharacter_LS_20211013231207 2.cpp
.history/Source/HorrorGame/HorrorCharacter_LS_20211013231049 2.cpp
.history/Source/HorrorGame/HorrorCharacter_LS_20211013230939 2.cpp
.history/Source/HorrorGame/HorrorCharacter_LS_20211013230859 2.cpp
.history/Source/HorrorGame/HorrorCharacter_LS_20211013230507 2.cpp
.history/Source/HorrorGame/HorrorCharacter_LS_20211013225649 2.h
.history/Source/HorrorGame/HorrorCharacter_LS_20211013225502 2.h
.history/Source/HorrorGame/HorrorCharacter_LS_20211013225502 2.cpp
